.inputContainer {
    margin-bottom: 10px;
}

/* .inputContainer:last-of-type {
    margin-bottom: 0;
} */

.input {
    display: block;
    width: 100%;
    padding: 7px 10px;
    margin-top: 3px;
}

.label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}