.screen {
  height: 800px;
  width: 1000px;
  display: grid;
  grid-template:
    'dropbox list' 1fr
    'url url' / 1fr 1fr;
  padding: 40px;
  gap: 10px;
}

.fileLoader {
  grid-area: dropbox;
  display: grid;
  place-content: center;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  gap: 20px;
  background-color: var(--theme-bg-3);
  border: none;
  color: var(--theme-color-1);
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.fileLoader:hover {
  outline: none;
  opacity: 0.5;
}

.fileLoader:focus {
  outline: 2px solid var(--theme-highlight-1);
  outline-offset: -1px;
  background-color: var(--theme-bg-2);
}

.fileLoader > svg {
  margin: auto;
}

.list {
  grid-area: list;
  background-color: var(--theme-bg-1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.listItem {
  background-color: var(--theme-bg-2);
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.listItem > span {
  flex-grow: 1;
}
.listItem > label {
  opacity: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7em;
}

.listAction {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 9px;
  align-items: center;
  display: flex;
}

.listAction:global(.disabled) {
  cursor: not-allowed;
  opacity: 0.2;
}

.listIcon {
  /* background-color: red; */
}

:global(.active).listItem {
  background-color: var(--theme-highlight-1);
  color: var(--theme-bg-1);
}

:global(.active).listItem > label {
  opacity: 1;
}

.url {
  grid-area: url;
  margin-bottom: -10px;
  display: flex;
  width: 100%;
  gap: 20px;
}

.url > div:first-child {
  flex-grow: 1;
}

.url .addBtn {
  color: var(--theme-color-1);
  margin-top: 27px;
  cursor: pointer;
  padding: 0;
}

.addBtn:hover,
.addBtn:focus {
  outline: none;
  color: var(--theme-highlight-1);
}
