.title {
    font-size: 1rem;
    margin-top: 0px;
}

.modal {
    min-width: 530px;
    padding: 10px;
}

@media (max-width: 600px) {
    .modal {
        min-width: auto;
        width: 100%;
    }
}

.editor {
    width: 100%;
    background: var(--theme-bg-1);
    color: var(--theme-color-1);
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 10px;
}

.editor::-webkit-scrollbar {
    background-color: var(--theme-bg-2);
    width: 3px;
}

.editor::-webkit-scrollbar-thumb {
    background-color: var(--theme-highlight-1);
    border-radius: 10px;
    outline: none;
}

.modal-button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-top: 10px;
    float: right;
    cursor: pointer;
}

.modal-icon {
    margin-left: 10px;
}

.config-icon,
.modal-icon {
    color: var(--theme-color-1);
    opacity: .3;
}

.config-icon:hover,
.modal-icon:hover {
    opacity: 1;
}

.config-icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.error {
    padding: 5px 10px;
    border: 1px solid red;
    background-color: #ff00000f;
    margin: 10px 0;
}