.modal {
  border-radius: 10px;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(var(--theme-bg-1-rgb), 0.4) -0.2rem -0.2rem
    0.5rem rgba(var(--theme-bg-3-rgb), 0.3);
}

@media (max-width: 600px) {
  .modal {
    border-radius: 0;
    width: 100%;
  }
}

.editor {
  width: 100%;
  background: var(--theme-bg-1);
  color: var(--theme-color-1);
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 10px;
}

.editor::-webkit-scrollbar {
  background-color: var(--theme-bg-2);
  width: 3px;
}

.editor::-webkit-scrollbar-thumb {
  background-color: var(--theme-highlight-1);
  border-radius: 10px;
  outline: none;
}

.config-actions-container {
  position: fixed;
  display: flex;
  bottom: 10px;
  right: 10px;
  color: var(--theme-color-1);
  gap: 20px;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: var(--theme-highlight-1);
}
