.container {
    position: relative;
    min-height: 300px;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 10px #0000006b;
    opacity: 0.8;
    color: white;
    background-size: cover;
    background-position: center;
    transition: opacity 0.1s ease-in-out;
}

.edit-container {
    position: absolute;
    background-color: #000000c7;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
}

.edit-icon,
.delete-icon {
    opacity: 0.7;
    cursor: pointer;
}

.edit-icon:hover,
.delete-icon:hover {
    opacity: 1;
}

.delete-icon:hover {
    color: var(--theme-warning-1);
}

.add-card {
    display: grid;
    place-items: center;
    width: 100%;
    justify-content: unset;
    border: 2px dashed var(--theme-highlight-1);
    color: var(--theme-highlight-1);
}

.add-icon {
    cursor: pointer;
}