.title {
    font-size: 1rem;
    margin-top: 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.button {
    float: right;
    padding: 10px 20px;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    background: var(--theme-bg-3);
    color: var(--theme-color-1);
}

.button:focus,
.button:active {
    outline: 2px solid var(--theme-highlight-1);
}